RewriteEngine on
RewriteBase ./

# customer feedback
RewriteRule ^/customerfeedback/(.*)/([^/]+).(js|png|ico)$ /customerfeedback/$2.$3 [U,L]
RewriteRule ^/customerfeedback/([\d\/]+)$ /customerfeedback/index.html?$1 [U,L]
RewriteRule ^/customerfeedback/([\d\-]+)$ /customerfeedback/index.html?$1 [U,L]

#orders
RewriteRule ^/forms/(.*)$ /index.php/forms/$1/ [U,L]
RewriteRule ^/orders/(.*)$ /index.php/orders/$1/ [U,L]
RewriteRule ^/secureinfoconfirm/(.*)$  /secureinfo.php/thirdparty/order/$1 [U,L]
RewriteRule ^/slink/(.*)$  /index.php/apps/short_link/index/detail?slink=/slink/$1 [U,L]

#ajax
RewriteRule ^/ajax_get/(.*)$ /index.php/ajax/$1 [U,L]

#error
RewriteRule ^/error/(.*)$ /index.php/error/$1 [U,L]

RewriteRule ^/redirect/(.*)$ /index.php/welcome/redirect/$1 [U,L]

#ip_address
RewriteRule ^/ip/$ /index.php/apps/ip2location/ [U,L]
